<!DOCTYPE html>
<html>
<body>

<h1><%= chart_of_accounts.entity %></h1>
<p>Reports Generated at <%= DateTime.now.strftime('%Y-%m-%d %H:%M:%S') %> by RockBooks version <%=RockBooks::VERSION %></p>

<h2>Supporting Documents</h2>
<ul>
<%
  subdir_link = ->(name, caption) do
    dir_name = File.expand_path(File.join(Dir.pwd, name))
    if Dir.exist?(dir_name)
      %Q{<li><a href=#{dir_name}>#{caption}</a></li>}
    end
  end
%>
  <%= subdir_link.('invoices',   'Invoices')   %>
  <%= subdir_link.('receipts',   'Receipts')   %>
  <%= subdir_link.('statements', 'Statements') %>
  <%= subdir_link.('worksheets', 'Worksheets') %>
</ul>
<h2>Financial Statements</h2>
<ul>
  <li><a href='balance_sheet.html'>Balance Sheet</a></li>
  <li><a href='income_statement.html'>Income Statement</a></li>
</ul>

<h2>All Transactions</h2>
<ul>
  <li><a href="all_txns_by_acct.html">By Account</a></li>
  <li><a href="all_txns_by_amount.html">By Amount</a></li>
  <li><a href="all_txns_by_date.html">By Date</a></li>
</ul>

<h2>Journals</h2>
<ul>
  <% journals.each do |journal|
       filespec = journal.short_name + '.html'
       caption = "#{journal.title} -- #{journal.short_name} -- #{journal.account_code}"
  %>
    <li><a href="<%= filespec %>"><%= caption %></a></li>
  <% end %>
</ul>

<h2>Individual Accounts</h2>
<ul>

  <%
    chart_of_accounts.accounts.each do |account|
      filespec = File.join('single-account', "acct_#{account.code}.html")
      caption = "#{account.name} (#{account.code})"
  %>
  <li><a href="<%= filespec %>"><%= caption %></a></li>
  <% end %>
</ul>


<h2>Receipts</h2>

  <ul>
    <li><a href="../../receipts">Browse Receipts</a></li>
    <% if run_options.do_receipts  %>
      <li><a href="receipts.html">Missing and Existing Receipts</a></li>
    <% end %>
  </ul>

</body>
</html>
